* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url('/images/nature.jpg') center no-repeat;
    height: 100vh;
    width: 100%;
}

nav {
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

li {
    font-size: 20px;
    position: relative;
}

li::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transition: .7s;
}

li:hover::after {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.navigation {
    display: flex;
    gap: 15px;
}

.hero-section {
    width: 100%;
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    text-align: center;
    color: white;
}

button {
    padding: 10px 30px;
    border: 1px solid rgb(238, 185, 185);
    background: transparent;
    color: white;
    border-radius: 20px;
    margin-top: 8px;
    position: relative;
    overflow: hidden;
    z-index: 23456;
}

span {
    background-color: #a58484;
    position: absolute;
    width: 0;
    height: 50px;
    left: 0;
    top: 0;
    border-radius: 20px;
    transition: .9s;
    z-index: -1;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}